@charset "utf-8";

body {
	background-color: #03013b;
}

Audio.Audio {
	position: absolute;
	left: 635px;
	bottom: -20px;
	
}

img.Title {
	display:block;
	margin: 0 auto;
	margin-top: -10px;
}

h1.Masterpiece {
	display: block;
	text-align: center;
	font-size: 60px;
	color: lightgrey;
}

div.Animation {
	margin: 0 auto;
	position: relative;
	height: 441px;
	width: 1590px;
}

img.Posing {
	position: absolute;
	right: 0px;
}

img.Crew {
	position: absolute;
	top: 225px;
	left: 0px;

}

ol.Anime {
	top: -170px;
	left: 295px;
	display: table-cell;
	position: relative;
	color: white;
	font-size: 14pt;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
